.ol-rotate-reset {
  display: none;
}
.lst-it:nth-child(even) {
  background-color: var(--color-button-translucent);
}
.lst-it:nth-child(even) .dtl .clps .content {
  background-color: var(--color-light);
}
.lst-it:nth-child(odd) .dtl .clps .content {
  background-color: var(--color-button-translucent);
}
.btn-sq {
  background-color: var(--color-dark);
}
.btn-sq:hover {
  background-color: var(--color-button);
}
.btn:hover {
  color: var(--color-light);
}
.btn.map:hover {
  background-image: var(--map-icon-light);
}
.btn.dir:hover {
  background-image: var(--directions-icon-light);
}
.btn.phone:hover {
  background-image: var(--phone-icon-light);
}
.btn.web:hover {
  background-image: var(--web-icon-light);
}
.splash .dia-msg a.btn {
  display: block;
  color: var(--color-dark);
  text-align: center;
  text-transform: none;  
}
.splash .btn {
  background-color: var(--color-button);
}
.splash .btn:hover,
.splash .dia-msg a.btn:hover {
  background-color: #F68C1E;
  color: var(--color-light);
}
.fnd .splash .dia a.btn-yes:hover {
  background-image: var(--speaker-icon-light);
}
.fnd .splash .dia a.btn-yes,
.fnd .splash .dia a.btn-no {
  width: calc(100% - 6px);
}
.fnd .splash .dia {
  top: 36px;
  max-height: calc(100% - 55px);
  overflow-y: auto;
}
.splash p {
  margin: 5px 0;
}
.dtl table {
  border-collapse: collapse;
  width: 100%;
}
.dtl th, .dtl td {
  border: 1px solid var(--color-dark-translucent);
  padding: 2px 3px;
}
.dtl .hrs {
  text-align: right;
}
.op-hours {
  padding-top: 5px;
}
#mode td .btn-sq.active {
  background-color: #F68C1E;
}
.fnd.translated .splash .btn {
  text-align: center !important;
}
.fnd.translated .splash .btn * {
  color: var(--color-dark);
}
.fnd.translated .splash .btn:hover * {
  color: var(--color-light);
}
.chc-chc:hover, .chc-chc:hover * {
  background-color: var(--color-dark);
  color: white;
}
@media only screen and (max-width: 750px), screen and (max-device-height: 350px) {
  .fnd .lst-srch .srch {
    display: block;
    width: 100%;
  }
  .fnd .splash .dia {
    width: auto;
    left: 0;
    right: 0;
  }  
}
@media only screen and (max-width : 400px) {
  .fnd #banner * {
    font-size: 17px;
    line-height: 17px;
    margin-top: -2px;
    width: 129px;
  }
}
